/* === Style site forms === */
.allForm * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.allForm label.form-label {
	font-family: Arial, Verdana;
}

.allForm ul.form-list {
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}

.allForm ul.form-list li {
	padding:12px; 
	position:relative;
	font-family: Arial;
}

/* === Form Elements === */
.allForm label.form-label {
	width:180px;
	margin-top: 3px;
	display:inline-block;
	padding:3px;
	text-align: right;
}
.allForm input.form-field {
	height: auto; 
	width:266px; 
	padding: 6px 12px;
}
.allForm select.form-field {
	height: 35px;
	width: 20%;
	padding: 5px 2px 5px 5px;
}

.allForm select[multiple] {
	height:150px; 
	width:100%; 
	padding:5px 8px;
}

.allForm textarea.form-field { padding:8px; width:75%; min-height: 130px; }
.allForm button.form-btn { float: left; }

/* form element visual styles */
.allForm input.form-field,
.allForm textarea.form-field { 
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	-ms-transition: padding .25s;
	transition: padding .25s;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
}

 .allForm select.form-field  { 
	height: 30px;
	width: 20%;
	padding: 5px 2px 5px 5px;
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}

.allForm input.form-field:focus,
.allForm textarea.form-field:focus {
	background: #fff; 
	border:1px solid #555; 
	box-shadow: 0 0 3px #aaa;
}

/* === HTML5 validation styles === */	
.allForm input.form-field:required,
.allForm textarea.form-field:required {
	background: #fff url(/imagens/2015/red_asterisk.png) no-repeat 98% center;
}
.allForm input.form-field:required:valid,
.allForm textarea.form-field:required:valid,
.allForm input.form-field.has-success,
.allForm textarea.form-field.has-success {
	background: #fff url(/imagens/2015/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.allForm input.form-field:focus:invalid,
.allForm textarea.form-field:focus:invalid,
.allForm input.form-field.has-error,
.allForm textarea.form-field.has-error {
	background: #fff url(/imagens/2015/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
	
/* === Button Style === */
.btnSubmit:hover, .btnSubmit:focus {
	background-color: #193983;
}
.btnSubmit {
	/* margin: 15px 1px; */
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #3B5BA5;
	border: none;
	font-size: 14px;
	font-weight: 100;
	font-family: verdana, Arial, Tahoma;
	padding: 6px 12px;
	/* left: -5px; */
	cursor: pointer;
	outline: none;
	line-height: 1.5;
	height: 35px;
}

.allForm a.form-link {
	font-family:"Conv_Nexa Bold", Arial, Tahoma;
	font-size: 24px;
	color: #000;
	text-decoration: none;
	float: left;
	margin: 8px;
	cursor: pointer;
}

.allForm a.form-link:hover {
	text-decoration: underline;
}
/* === End style forms === */

@media(max-width:537px){
	.allForm label.form-label {
		text-align: left !important;
		display: block;
	}
}