<div class="col-md-12">
    <div class="container-fluid mt-4">
      <h1>Criar Notícia</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-3 p-0">
            <li class="breadcrumb-item"><a href="#">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notícias</li>
          </ol>
        </nav>
        <hr/>
    </div>
    <div class="container-fluid mb-5">
      <div class="card mb-4">
        <div class="card-header">
          <a>Criar notícia.</a>
        </div>
        <div class="card-body">
          <form [formGroup]="frm">
            <div class="form-group">
                <label>Título</label>
                <input type="text" formControlName="titulo" class="form-control" />
            </div>
            <div class="form-group">
                <label>Mensagem</label>
                <input type="textarea" formControlName="mensagem" class="form-control" />
            </div>
          </form>
        </div>
    </div>
    </div>
</div>