<div class="col-md-12 mb-5">
  <div class="container-fluid mt-4">
    <!-- <h1>Carga de Forecash</h1> -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 p-0">
          <li class="breadcrumb-item">Início</li>
          <li class="breadcrumb-item active" aria-current="page">Cliente Meses</li>
        </ol>
      </nav>
      <hr/>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <div class="float-right">
          <!-- <button class="btn btn-sm btn-light" [routerLink]="['/']"><i class="fas fa-undo-alt"></i> Voltar</button> -->
          <!-- <a (click)="downloadCSV()" style="color:white" class="btn btn-sm btn-info objectClick"> -->
          <!-- <i class="fa fa-file-excel-o objectClick" style="color:black" (click)="downloadCSV()"></i> &nbsp; -->
          <!-- <a (click)="downloadCSV()" style="color:white" class="btn btn-sm btn-dark objectClick"><i class="fa fa-file"></i> Gerar IR </a>&nbsp; -->
          <a (click)="abrirModalAdicionar()" style="color:white" class="btn btn-sm btn-info objectClick"><i class="fas fa-plus-square"></i> Adicionar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a>Mult Select Meses</a>
      </div>

       <div class="card-body">
        <div class="col-sm-12 mt-3">
            <!-- <table class="mb-3">
              <tr>
                <td>
                  <div class="input-group">
                    <input #buscarapida type="text" class="form-control form-control-sm" placeholder="Busca Rápida..." aria-label="Busca Rápida..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button (click)="applyFilter(buscarapida)" class="btn btn-sm btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            </table> -->
            <div *ngIf="rows == null" class="alert alert-danger">Os registros estão carregando... Aguarde, por favor!</div>
              <div class="mat-elevation-z8" >
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                <table mat-table [dataSource]="rows" matSort>

                  <ng-container matColumnDef="clienteid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 5%;">Cliente ID</th>
                    <td mat-cell *matCellDef="let item"> {{item.clienteid}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 5%;">Nome</th>
                    <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
                  </ng-container>

                  <ng-container matColumnDef="mes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 5%;">Mes</th>
                    <td mat-cell *matCellDef="let item"> {{item.mes}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ano">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 5%;">Ano</th>
                    <td mat-cell *matCellDef="let item"> {{item.ano}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef   style="width: 5%; text-align: right;">Ações</th>
                    <td mat-cell *matCellDef="let item" style="text-align: right;">
                      <!-- <button class="btn btn-sm btn-warning mr-1" [routerLink]="[item.mercadocapid, 'editarMercadocap']"><i class="fa fa-pencil-square" aria-hidden="true"></i> &nbsp;Editar</button> -->
                      <button class="btn btn-sm btn-danger mr-1" (click)="Remover(item.clienteid,item.mes,item.ano)"> <i class="fa fa-trash" aria-hidden="true"></i> &nbsp;Remover</button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

                </table>
              </div>
            </div>
         </div>

    </div>
  </div>
</div>

<!--Tela modal para adicionar que vou trabalhar-->
<div class="modal fade" id="modalAdicionar" tabindex="-1" role="dialog" aria-labelledby="modalAdicionar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-header">Adicionar</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Cliente</mat-label>
              <mat-select #clienteIdAdd multiple>
                <mat-option>
                  Selecione...
                </mat-option>
                <mat-option  *ngFor="let item of filtroCliente" [value]="item.Cliente_id">
                  {{item.Nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Meio de Transporte</mat-label>
              <mat-select #transporteIdAdd>
                <mat-option>
                  Selecione...
                </mat-option>
                <mat-option  *ngFor="let item of filtroMeioTransporte" [value]="item.Id">
                  <i [class]="item.Icone"></i>&nbsp;
                  {{item.Nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Dias</mat-label>
              <mat-select #diasAdd aria-placeholder="Selecione os dias" multiple>
                <mat-option  *ngFor="let item of listaDias" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Anos</mat-label>
              <mat-select #AnoAdd>
                <mat-option  *ngFor="let item of listaAnos" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Meses</mat-label>
              <mat-select #mesesAdd aria-placeholder="Selecione os meses" multiple >
                <mat-option value=7>
                  Julho
                </mat-option>
                <mat-option value=8>
                  Agosto
                </mat-option>
                <mat-option value=9>
                  Setembro
                </mat-option>
                <mat-option value=10>
                  Outubro
                </mat-option>
                <mat-option value=11>
                  Novembro
                </mat-option>
                <mat-option value=12>
                  Dezembro
                </mat-option>
                <mat-option value=1>
                  Janeiro
                </mat-option>
                <mat-option value=2>
                  Fevereiro
                </mat-option>
                <mat-option value=3>
                  Março
                </mat-option>
                <mat-option value=4>
                  Abril
                </mat-option>
                <mat-option value=5>
                  Maio
                </mat-option>
                <mat-option value=6>
                  Junho
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Pea</mat-label>
              <mat-select #peaAnoAdd>
                <mat-option  *ngFor="let item of listaAnos" [value]="item">
                  {{item}}/{{item+1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-sm-6">
            <mat-form-field>
              <mat-label class="required">Valor</mat-label>
              <input matInput #valorAdd>
            </mat-form-field>
          </div> -->

        </div>
        <div class="modal-footer">
          <!-- <button type="button" (click)="Adicionar(clienteIdAdd, transporteIdAdd, diasAdd, mesesAdd, peaAnoAdd, valorAdd.value)" class="btn btn-primary">Salva Mes</button> -->
          <button type="button" (click)="Adicionar(clienteIdAdd, mesesAdd, AnoAdd)" class="btn btn-primary">Salva Mes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Tela modal que vou trabalhar-->
