<div class="col-md-12">
    <div class="container-fluid mt-4">
      <h1>Acesso Negado!</h1>
      <small>Aparentemente você não tem permissão para acessar essa página.</small>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-3 p-0">
            <li class="breadcrumb-item active" aria-current="page">Início</li>
          </ol>
        </nav>
        <hr/>
    </div>
    <div class="container-fluid">
      <div class="card">
        
        <div class="card-body text-center">
            <h1><i class="fas fa-shield-alt"></i></h1>
            <strong>Você não tem acesso a essa página.</strong><br />
            <a [routerLink]="['/']">Clique aqui para voltar!</a> 
        </div>
      </div>
    </div>
  </div>