<div class="container">
  <ul class="timeline">
    <li (click)="getImage()" [ngClass]="{ 'active' : item.selected }" *ngFor="let item of ControlPoints">{{item.name}}</li>
  </ul>
</div>



<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ponto de Controle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4 mb-5">
              <h5>Traseira</h5>
              <img [src]="imgUrl" height="100%" width="100%"/>
            </div>
            <div class="col-sm-4 mb-5">
              <h5>Superior</h5>
              <img [src]="imgUrl" height="100%" width="100%"/>
            </div>
            <div class="col-sm-4 mb-5">
              <h5>Frontal</h5>
              <img [src]="imgUrl" height="100%" width="100%"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>