<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="color:rgb(0, 0, o);text-align: right;">
        Mercado VF
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form [formGroup]="mercadovfForm" (ngSubmit)="onFormSubmit()">
        <table>
          <tr>
            <!-- <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 40%;">Nome</th>
              <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
            </ng-container> -->

            <td class="tbl1">
              <mat-form-field class="input-full-width">
                <input formControlName="Mercado_VF" maxlength="15" size="150" matTooltip="Mercado VF" matInput placeholder="Mercado VF" autocomplete="off" >
              </mat-form-field>

              <mat-error>
                <span *ngIf="!mercadovfForm.get('Mercado_VF').value && mercadovfForm.get('Mercado_VF').touched"></span>
              </mat-error>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="tbl1">

            </td>
          </tr>
          <tr>
            <td class="tbl1">
              <mat-form-field>
                <mat-label>Mercado CAP</mat-label>
                <mat-select (selectionChange)="FillMercadoVFDDL($event)" formControlName="Mercado_CAP" matTooltip="Mercado CAP" autocomplete="off">
                  <mat-option *ngFor="let mercadocap of (allMercadoCAP | async)" [value]="mercadocap.MercadoCAPId">
                    {{mercadocap.Mercado_CAP}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <!--
            <td class="tbl1">
              <mat-form-field>
                <mat-label>Mercado VF</mat-label>
                <mat-select (selectionChange)="FillCityDDL($event)" formControlName="Mercado_VF" matTooltip="Mercado VF" autocomplete="off">
                  <mat-option *ngFor="let mercadovf of (allMercadoVF | async)" [value]="mercadovf.MercadoVFId">
                    {{mercadovf.Mercado_VF}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          -->

          </tr>
          <tr>
            <td class="content-center">
              <!-- <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="!clienteForm.valid">Gravar</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
              <button type="submit" mat-raised-button color="accent" matTooltip="Submit" >Gravar</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" mat-raised-button color="accent" matTooltip="Reset" (click)="resetForm()">Reset</button>
            </td>
            <td>
              <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                {{massage}}
              </p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br><br>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="DeleteData()"><mat-icon>delete</mat-icon></button>

        <div>

          <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell  *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
              </mat-header-cell>
              <mat-cell  *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Mercado_VF">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Mercado VF </mat-header-cell>
              <mat-cell  *matCellDef="let cliente"> {{cliente.Mercado_VF}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Mercado_CAP">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Mercado CAP </mat-header-cell>
              <mat-cell  *matCellDef="let cliente"> {{cliente.Mercado_CAP}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Edit">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>

              <mat-cell  *matCellDef="let mercadovf">

                <button mat-icon-button aria-label="Example icon button with a edit icon" type="button" mat-raised-button color="accent" matTooltip="Editar" (click)="loadMercadovfToEdit(mercadovf.MercadoVFId)"><mat-icon>edit</mat-icon></button>
                <!--<button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="accent" matTooltip="Edit" (click)="loadLinhacapToEdit(cliente.LinhaCAPId)">
                  <mat-icon>more_vert</mat-icon>
                </button>-->
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> Excluir </mat-header-cell>

              <mat-cell  *matCellDef="let mercadovf">

                <!-- <button type="button" mat-raised-button color="accent" matTooltip="Excluir">Excluir</button> -->

                <button mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="primary" matTooltip="Excluir" (click)="deleteMercadovf(mercadovf.MercadoVFId)"><mat-icon>delete_forever</mat-icon></button>
              </mat-cell>
            </ng-container>

            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
        </div>

        <!--<table mat-table class="table">
          <tr color="accent">
            <th class="tbl2">First Name</th>
            <th class="tbl2">Last Name</th>
            <th class="tbl2">Date Of Birth</th>
            <th class="tbl2">Email Id</th>
            <th class="tbl2">Gender</th>
            <th class="tbl2">MercadoCAP</th>
            <th class="tbl2">MercadoVF</th>
            <th class="tbl2">City</th>
            <th class="tbl2">Address</th>
            <th class="tbl2">Pincode</th>
            <th class="tbl2">Edit</th>
            <th class="tbl2">Delete</th>
          </tr>
          <tr *ngFor="let cliente of allClientes | async">
            <td class="tbl2">{{cliente.Linha_CAP}}</td>
            <td class="tbl2">{{cliente.LastName}}</td>
            <td class="tbl2">{{cliente.DateofBirth | date }}</td>
            <td class="tbl2">{{cliente.EmailId}}</td>
            <td class="tbl2">{{cliente.Gender ==0? 'Male' : 'Female'}}</td>
            <td class="tbl2">{{cliente.MercadoCAP}}</td>
            <td class="tbl2">{{cliente.MercadoVF}}</td>
            <td class="tbl2">{{cliente.City}}</td>
            <td class="tbl2">{{cliente.Address}}</td>
            <td class="tbl2">{{cliente.Pincode}}</td>
            <td class="tbl2">
              <button type="button" mat-raised-button color="accent" matTooltip="Edit" (click)="loadLinhacapToEdit(cliente.LinhaCAPId)">Edit</button>
            </td>
            <td class="tbl2">
              <button type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteLinhacap(cliente.LinhaCAPId)">Delete</button>
            </td>
          </tr>
        </table>-->
      </form>
    </mat-card-content>
  </mat-card>
</div>

